.task-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: rgba(var( --background-task), 0.95);

    &:hover {
        background: rgba(var( --background-task), 0.8);
        cursor: pointer;
    }

    &_title {
        display: flex;
        align-items: center;
        color: var(--text);

        width: 100%;
        height: 50px;
    }
    &-checkbox{
        display: grid;
        place-content: center;
        width: 50px;

    }

    &_title h3 {
        margin: 0;
    }

    &_checkbox {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #cccccc;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;

        &:checked {
            background-color: #6e7eea;
            border-color: #6e7eea;
        }

        &::after {
            content: "";
            position: absolute;
            top: 46%;
            left: 22%;
            width: 6px;
            height: 10px;
            border-right: 2px solid white;
            border-bottom: 2px solid white;
            transform: rotate(45deg) translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:checked::after {
            opacity: 1;
        }
    }

    &_important {
        display: none;
    }

    .important-label {
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .star {
        position: absolute;
        width: 20px;
        height: 20px;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        background-color: #cccccc;
        transition: background-color 0.3s ease;
    }

    .checked {
        background-color: #6e7eea;
        display: none;
    }

    &_important:checked + .important-label .unchecked {
        display: none;
    }

    &_important:checked + .important-label .checked {
        display: block;
    }
}

.completed{
    h3{
        text-decoration: line-through;
        font-style: italic;
    }
}

